<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.unowen.mapper.UserLogMapper">
	<resultMap id="BaseResultMap" type="cn.unowen.pojo.UserLog">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="loginTime" property="logintime"
			jdbcType="TIMESTAMP" />
		<result column="loginFlag" property="loginflag"
			jdbcType="VARCHAR" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, loginTime, loginFlag, ip
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_userlog
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from t_userlog
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.unowen.pojo.UserLog">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_userlog (name, loginTime, loginFlag,
		ip)
		values (#{name,jdbcType=VARCHAR}, #{logintime,jdbcType=TIMESTAMP},
		#{loginflag,jdbcType=VARCHAR},
		#{ip,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="cn.unowen.pojo.UserLog">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_userlog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="logintime != null">
				loginTime,
			</if>
			<if test="loginflag != null">
				loginFlag,
			</if>
			<if test="ip != null">
				ip,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="logintime != null">
				#{logintime,jdbcType=TIMESTAMP},
			</if>
			<if test="loginflag != null">
				#{loginflag,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.unowen.pojo.UserLog">
		update t_userlog
		<set>
			<if test=" != null">
				= #{,jdbcType=INTEGER},
			</if>
			<if test="logintime != null">
				loginTime = #{logintime,jdbcType=TIMESTAMP},
			</if>
			<if test="loginflag != null">
				loginFlag = #{loginflag,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.unowen.pojo.UserLog">
		update t_userlog
		set = #{name,jdbcType=VARCHAR},
		loginTime = #{logintime,jdbcType=TIMESTAMP},
		loginFlag = #{loginflag,jdbcType=VARCHAR},
		ip = #{ip,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByDate" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		from t_userlog where loginTime BETWEEN #{startDate} and
		#{endDate} limit
		#{limit} OFFSET #{offset}
	</select>
	<select id="selectCount" resultType="java.lang.Integer">
		select count(1) from
		t_userlog
	</select>
</mapper>